<nav class="nav">
  <a href="/" class="brand">Control Universitario</a>
  <div class="links">
    <a href="/estudiantes">Estudiantes</a>
    <a href="/materias">Materias</a>
    <a href="/inscripciones">Inscripciones</a>
  </div>
</nav>
<main class="container">